name: Stock Predictor CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docker-build:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 

      - name: Run tests
        run: |
          pytest -v

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build FastAPI image
        run: | 
          docker build -t ${{ vars.DOCKER_USERNAME}}/stock-fastapi:latest -f Dockerfile.fastapi .

      - name: Build Streamlit image
        run: |
          docker build -t ${{ vars.DOCKER_USERNAME}}/stock-streamlit:latest -f Dockerfile.streamlit .

      - name: Push FastAPI image
        run : |
          docker push ${{ vars.DOCKER_USERNAME }}/stock-fastapi:latest

      - name: Push Streamlit image
        run: |
          docker push ${{ vars.DOCKER_USERNAME }}/stock-streamlit:latest